:root {
  /* Primary */
  --soft-red: hsla(0, 100%, 67%);
  --yellow: hsla(39, 100%, 56%);
  --lime-green: hsla(166, 100%, 37%);
  --bright-blue: hsla(234, 85%, 45%);
  /* Neutral */
  --white: hsla(0, 0%, 100%);
  --grayish-blue: hsla(221, 100%, 96%);
  --light-lavander: hsla(241, 100%, 89%);
  --dark-grayish-blue: hsla(224, 30%, 27%);
  /* Gradient */
  --gradient-background: hsla(252, 100%, 67%);
  --gradient-background2: hsla(241, 81%, 54%);
  --gradient-circle: hsla(256, 72%, 46%, 1);
  --gradient-circle2: hsla(241, 72%, 46%, 0);
  /* Font */
  --font-family: 'Hanken Grotesk', sans-serif;
  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-weight-800: 800;
  /* Font size */
  --font-size-18: 18px;
}

.results {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;  font-family: var(--font-family);
  background-color: var(--white);
}

@media (min-width: 768px) {
  .results {
    flex-direction: row;
    justify-content: center;
  }
}

.results__score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  width: 100%;
  background: var(--gradient-background);
  background: linear-gradient(180deg, var(--gradient-background) 0%, var(--gradient-background2) 100%);
  border-radius: 0 0 32px 32px;
  box-sizing: border-box;
}

.results__score h1 {
  font-size: 18px;
  font-weight: var(--font-weight-700);
  color: var(--light-lavander);
}

.results__score__circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: var(--gradient-circle);
  background: linear-gradient(-180deg, var(--gradient-circle) 0%, transparent 100%);
  box-shadow: 0px 1px 2px 0px hsla(0, 0%, 0%, 0.05);
}

.results__score__circle p {
  font-size: 60px;
  font-weight: var(--font-weight-800);
  color: var(--white);
}

.results__score__circle span {
  font-size: 18px;
  font-weight: var(--font-weight-500);
  color: #8D82FF;
}

.results__score__result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.results__score__result span {
  font-size: 24px;
  font-weight: var(--font-weight-700);
  color: var(--white);
}

.results__score__result p {
  text-align: center;
  width: 100%;
  max-width: 270px;
  font-size: 16px;
  font-weight: var(--font-weight-500);
  color: var(--light-lavander);
}

.results__summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--white);
  border-radius: 35px 35px 0 0;
}

@media (min-width: 1024px) {
  .results__score {
    width: 30%;
  }
  .results__summary {
    width: 30%;
  }
}

.attribution {
  position: absolute;
  bottom: 10px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}